.about {
  padding-top: 32px;

  background-image: url("../img/bg-zigzag-line.svg");
  background-position: top;
  background-repeat: repeat-x;
  background-size: auto 6px;
}

.about__title {
  margin: 0 auto;
  margin-bottom: 30px;
}

.about__list {
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.about__item {
  margin-bottom: 26px;

  font-size: 17px;
  font-weight: bold;
  line-height: 20px;

  color: $black;

  &::before {
    content: "";

    display: block;
    width: 55px;
    height: 45px;
    margin-bottom: 12px;

    background-repeat: no-repeat;
  }

  &--flower::before {
    background-image: url("../img/icon-feature-flower.svg");
    background-position: 8px 2px;
  }

  &--money::before {
    background-image: url("../img/icon-feature-money.svg");
    background-position-y: 4px;
  }

  &--heart::before {
    background-image: url("../img/icon-feature-heart.svg");
    background-position: 8px 8px;
  }

  &--ball::before {
    background-image: url("../img/icon-feature-ball.svg");
    background-position: 4px 6px;
  }

  &--rocket::before {
    margin-left: -6px;

    background-image: url("../img/icon-feature-rocket.svg");
    background-position: left 6px;
  }

  &--gift::before {
    background-image: url("../img/icon-feature-gift.svg");
    background-position: 3px 4px;
  }
}

@media (min-width: $tablet) {
  .about {
    padding-top: 65px;
    background-size: auto 15px;
  }

  .about__title {
    margin-bottom: 50px;
  }

  .about__list {
    display: flex;

    flex-wrap: wrap;
  }

  .about__item {
    width: 50%;
    margin-bottom: 58px;
    padding-right: 40px;

    font-size: 20px;
    line-height: 22px;

    &::before {
      margin-bottom: 8px;
    }

    &--flower {
      order: 1;
    }

    &--money {
      order: 3;
    }

    &--heart {
      order: 5;
    }

    &--ball {
      order: 2;
    }

    &--rocket {
      order: 4;
    }

    &--gift {
      order: 6;
    }
  }
}

@media (min-width: $desktop) {
  .about {
    padding: 84px 175px 0;

    background-size: auto 23px;
  }

  .about__title {
    margin-bottom: 48px;
  }
}
