.card {
  border: 1px solid $border-color;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba($black, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba($black, 0.1);
  }
}

.card__link {
  text-decoration: none;

  color: $black;
}

.card__photo {
  width: 260px;
  height: 195px;
}

.card__wrapper {
  display: flex;
  width: 100%;
  padding: 20px 27px 27px;

  flex-direction: column;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  margin-bottom: 6px;

  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
}

.card__text {
  margin: 0;
  margin-bottom: 20px;

  font-size: 13px;
  line-height: 30px;
}

.card__bottom {
  display: flex;
  margin-top: auto;
  padding-top: 20px;

  justify-content: space-between;
  align-items: center;

  border-top: 1px solid $border-color;
}

.card__price {
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;

  color: $black;
}

.card__button {
  opacity: 0.2;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 1;

    & path {
      fill: #63d1bb;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .card {
    display: flex;
  }

  .card__photo {
    width: 334px;
    height: 334px;

    flex-shrink: 0;
  }

  .card__wrapper {
    padding: 28px 27px 25px;
  }

  .card__title {
    font-size: 20px;
    line-height: 24px;
  }

  .card__text {
    font-size: 15px;
  }

  .card__bottom {
    margin: auto 5px 0;
  }

  .card__price {
    font-size: 17px;
  }
}

@media (min-width: $desktop) {
  .card {
    width: 316px;

    flex-direction: column;
    justify-content: space-between;
  }

  .card__wrapper {
    padding: 25px 25px 25px;
    flex-grow: 2;
  }

  .card__photo {
    width: 316px;
    height: 462px;
  }

  .card__text {
    margin-bottom: 14px;
  }

  .card__bottom {
    margin-left: 0;
    margin-right: 7px;
  }
}
