.copyright {
  display: flex;

  justify-content: space-between;
  align-items: flex-start;
}

.copyright__text {
  margin-right: 30px;
  margin-left: 40px;
  margin-top: 15px;

  font-size: 19px;
  font-weight: bold;
  line-height: 20px;

  color: $black;
}

.copyright__link {
  margin-right: 50px;
  margin-top: 12px;

  & path {
    fill: #63d1bb;
  }

  &:hover path,
  &:focus path {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .copyright__text {
    margin-top: 5px;
  }

  .copyright__link {
    margin: 0;
  }
}
