.featured-table {
  border-collapse: collapse;
  margin-bottom: 30px;
}

.featured-table__wrapper::after {
  content: "";
  display: table;
  clear: both;
}

.featured-table__row {
  width: 100px;
  float: left;

  &:last-child {
    width: 160px;
  }
}

.featured-table__head,
.featured-table__data {
  display: block;
  padding: 7px 30px 8px 0;

  font-weight: normal;

  text-align: left;

  border-bottom: 1px solid $border-color;
}

@media (min-width: $tablet) {
  .featured-table__row:last-child {
    width: 190px;
  }
}

@supports (display: flex) {
  .featured-table__wrapper::after {
    display: none;
  }

  .featured-table__wrapper {
    display: flex;
  }

  .featured-table__row {
    display: flex;
    float: none;

    flex-direction: column;

    &:nth-child(2) {
      flex-grow: 2;
    }
  }

  .featured-table__data {
    padding-right: 0;
  }
}
