.feedback {
  padding-top: 30px;
}

.feedback__title {
  margin: 0;
  margin-bottom: 24px;
}

.feedback__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.feedback__item {
  padding: 0;
}

.feedback__text {
  margin-bottom: 25px;

  line-height: 30px;
}

.feedback__author {
  display: block;
  margin-bottom: 6px;

  font-size: 17px;
  font-weight: bold;
  line-height: 24px;

  color: $black;
}

.feedback__author-link {
  display: block;
  margin-bottom: 30px;

  font-size: 17px;
  line-height: 24px;

  text-decoration: none;

  color: $regular-text;

  &:hover,
  &:focus {
    color: rgba($regular-text, 0.6);
  }

  &:active {
    color: rgba($regular-text, 0.3);
  }
}

.feedback__toggles {
  margin-bottom: 35px;
}

@media (min-width: $tablet) {
  .feedback {
    position: relative;

    padding-top: 77px;
    padding-bottom: 50px;

    background-image: url("../img/review@1x.jpg");
    background-position: top left;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .feedback__title {
    margin-bottom: 50px;
  }

  .feedback__text {
    margin-bottom: 57px;

    font-size: 17px;
  }

  .feedback__author-link {
    margin: 0;
  }

  .feedback__toggles {
    position: absolute;
    right: 50px;
    bottom: 15px;
  }

  .feedback__button {
    position: absolute;
    top: 78px;
    right: 50px;

    width: 175px;
  }
}

@media (min-width: $desktop) {
  .feedback {
    padding-top: 68px;
    padding-bottom: 100px;
    padding-left: 175px;
    padding-right: 100px;
  }

  .feedback__text {
    margin-bottom: 37px;
  }

  .feedback__toggles {
    right: 0;
    bottom: 62px;
  }

  .feedback__button {
    top: 78px;
    right: 0;
  }
}
