.feedback__title {
  margin: 0;
  margin-bottom: 30px;

  font-size: 25px;
  font-weight: bold;
  line-height: 30px;

  color: $black;
}

.feedback__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.feedback__item {
  padding: 0;
}

.feedback__text {
  margin-bottom: 40px;
  line-height: 30px;
}

.feedback__author {
  display: block;
  margin-bottom: 6px;

  font-size: 17px;
  font-weight: bold;
  line-height: 24px;

  color: $black;
}

.feedback__author-link {
  display: block;
  margin-bottom: 30px;

  font-size: 17px;
  line-height: 24px;

  text-decoration: none;

  color: $regular-text;

  &:hover,
  &:focus {
    color: rgba($regular-text, 0.6);
  }

  &:active {
    color: rgba($regular-text, 0.3);
  }
}

.feedback__toggles {
  margin-bottom: 38px;
}

@media (min-width: $tablet) {
  .feedback {
    position: relative;

    margin-bottom: 70px;

    background-image: url("../img/review@1x.jpg");
    background-position: top left;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .feedback__title {
    margin-bottom: 60px;

    font-size: 43px;
    line-height: 50px;
  }

  .feedback__text {
    margin-bottom: 60px;
  }

  .feedback__author-link {
    margin: 0;
  }

  .feedback__button {
    position: absolute;
    top: 80px;
    right: 50px;

    width: 175px;
  }
}

@media (min-width: $desktop) {
  .feedback__title {
    font-size: 53px;
    line-height: 57px;
  }

  .feedback__button {
    right: 0;
  }
}
