.input-field--radio {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.input-field--checkbox {
  margin-bottom: 45px;

  &:last-child {
    margin-bottom: 0;
  }
}

.input-field--text {
  margin-bottom: 24px;
}

.input-field--radio,
.input-field--checkbox {
  padding-left: 62px;
}

.input-field__label {
  position: relative;

  font-size: 17px;
  font-weight: bold;
  line-height: 18px;

  color: $black;
  cursor: pointer;

  &:hover::before,
  &:focus::before {
    border-color: #62d1ba;
  }

  &:active::before {
    border-color: rgba($regular-text, 0.3);
  }
}

.input-field__label--radio {
  padding-top: 11px;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: -62px;

    display: block;
    width: 40px;
    height: 40px;

    border: 2px solid $regular-text;
    border-radius: 50%;
  }

  &::after {
    content: "";

    position: absolute;
    top: 14px;
    left: -48px;

    display: none;
    width: 16px;
    height: 16px;

    background: #62d1ba;
    border-radius: 50%;
  }
}

.input-field__label--checkbox {
  padding-top: 12px;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: -62px;

    display: block;
    width: 40px;
    height: 40px;

    border: 2px solid $regular-text;
  }

  &::after {
    content: "";

    position: absolute;
    top: 14px;
    left: -52px;

    display: none;
    width: 22px;
    height: 16px;

    background-image: url("../img/icon-tick.svg");
    background-position: top left;
    background-size: cover;
  }
}

.input-field__input:checked ~ .input-field__label::after {
  display: block;
}

.input-field__input {
  width: 100%;

  font-size: 17px;
  line-height: 18px;

  color: rgba($regular-text, 0.3);
  background: none;
  border: none;

  &--text {
    padding: 17px 0;

    border-bottom: 2px solid $black;
  }

  &--textarea {
    min-height: 140px;
    margin-top: 23px;
    padding: 17px;
    box-sizing: border-box;

    border: 2px solid $regular-text;
  }

  &:hover,
  &:focus {
    border-color: #62d1ba;
  }

  &:focus {
    color: $regular-text;
  }
}

@media (min-width: $tablet) {
  .input-field--radio {
    margin-bottom: 57px;
  }

  .input-field--checkbox {
    width: 50%;
    margin-bottom: 56px;
  }

  .input-field--text {
    display: flex;
    margin-bottom: 24px;

    justify-content: space-between;
    align-items: baseline;
  }

  .input-field__label {
    font-size: 19px;
  }

  .input-field__label--text {
    margin-right: 26px;
  }

  .input-field__input {
    font-size: 19px;

    &--text {
      padding: 16px;
    }

    &--textarea {
      margin: 0;
    }
  }
}

@media (min-width: $desktop) {
  .input-field--radio {
    margin-bottom: 57px;
  }

  .input-field--checkbox {
    width: 33%;
    margin-bottom: 60px;
  }

  .input-field--text,
  .input-field--textarea {
    width: 700px;
  }
}
