.input-field--radio {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.input-field--checkbox {
  margin-bottom: 37px;

  &:last-child {
    margin-bottom: 0;
  }
}

.input-field--text {
  margin-bottom: 20px;
}

.input-field--radio,
.input-field--checkbox {
  padding-left: 62px;
}

.input-field--tel {
  position: relative;

  margin-bottom: 28px;

  &::after {
    content: "";

    position: absolute;
    top: 14px;
    right: 7px;

    display: block;
    width: 25px;
    height: 24px;

    background-image: url("../img/icon-phone.svg");
    opacity: 0.2;
  }
}

.input-field--email {
  position: relative;

  margin-bottom: 28px;

  &::after {
    content: "";

    position: absolute;
    top: 13px;
    right: 4px;

    display: block;
    width: 32px;
    height: 26px;

    background-image: url("../img/icon-mail.svg");
    opacity: 0.2;
  }
}

.input-field__label {
  position: relative;

  font-size: 17px;
  font-weight: bold;
  line-height: 18px;

  color: $black;
  cursor: pointer;

  &:hover::before,
  &:focus::before {
    border-color: #62d1ba;
  }

  &:active::before {
    border-color: rgba($regular-text, 0.3);
  }
}

.input-field__label--radio {
  &::before {
    content: "";

    position: absolute;
    top: -7px;
    left: -62px;

    display: block;
    width: 36px;
    height: 36px;

    border: 2px solid $regular-text;
    border-radius: 50%;
  }

  &::after {
    content: "";

    position: absolute;
    top: 5px;
    left: -50px;

    display: none;
    width: 16px;
    height: 16px;

    background: #62d1ba;
    border-radius: 50%;
  }
}

.input-field__label--checkbox {
  &::before {
    content: "";

    position: absolute;
    top: -10px;
    left: -62px;

    display: block;
    width: 36px;
    height: 36px;

    border: 2px solid $regular-text;
  }

  &::after {
    content: "";

    position: absolute;
    top: 4px;
    left: -53px;

    display: none;
    width: 22px;
    height: 16px;

    background-image: url("../img/icon-tick.svg");
    background-position: top left;
    background-size: cover;
  }
}

.input-field__input:checked ~ .input-field__label::after {
  display: block;
}

.input-field__input {
  width: 100%;

  font-size: 17px;
  line-height: 18px;

  color: rgba($regular-text, 0.3);
  background: none;
  border: none;

  &--text {
    padding: 14px 0;

    border-bottom: 2px solid $black;
  }

  &--tel {
    padding: 14px 0;

    font-size: 19px;
    line-height: 18px;

    border-bottom: 2px solid $black;
  }

  &--email {
    padding: 17px 0;

    border-bottom: 2px solid $black;
  }

  &--textarea {
    min-height: 142px;
    margin-top: 20px;
    padding: 15px;
    box-sizing: border-box;

    border: 2px solid $regular-text;
  }

  &:hover,
  &:focus {
    border-color: #62d1ba;
  }

  &:focus {
    color: $regular-text;
  }
}

@media (min-width: $tablet) {
  .input-field--radio {
    margin-bottom: 52px;
    padding-left: 80px;
  }

  .input-field--checkbox {
    width: 50%;
    margin-bottom: 52px;
    padding-left: 80px;

    &:nth-child(2n) {
      padding-left: 90px;
    }
  }

  .input-field--text {
    display: flex;
    margin-bottom: 20px;

    justify-content: space-between;
    align-items: baseline;
  }

  .input-field--tel {
    margin-bottom: 22px;

    &::after {
      right: 25px;
    }
  }

  .input-field--email {
    margin-bottom: 0;

    &::after {
      right: 22px;
    }
  }

  .input-field__label {
    font-size: 19px;

    &--radio {
      &::before {
        top: -10px;
        left: -80px;

        width: 48px;
        height: 48px;
      }

      &::after {
        top: 6px;
        left: -64px;

        width: 21px;
        height: 21px;
      }
    }

    &--checkbox {
      &::before {
        top: -11px;
        left: -78px;

        width: 48px;
        height: 48px;
      }

      &::after {
        top: 5px;
        left: -68px;

        width: 33px;
        height: 22px;
      }
    }

    &--text {
      margin-right: 26px;
    }
  }

  .input-field__input {
    font-size: 19px;

    &--text {
      padding: 14px;
    }

    &--tel {
      padding: 13px 15px;
    }

    &--email {
      padding: 13px 15px;
    }

    &--textarea {
      margin: 0;
    }
  }
}

@media (min-width: $desktop) {
  .input-field--radio {
    margin-bottom: 50px;
  }

  .input-field--checkbox {
    width: 262px;
    margin-bottom: 53px;

    &:nth-child(2n) {
      padding-left: 80px;
    }
  }

  .input-field--text,
  .input-field--textarea,
  .input-field--tel,
  .input-field--email {
    width: 700px;
  }

  .input-field--tel::after {
    right: 8px;
  }

  .input-field--email::after {
    right: 5px;
  }
}
