.item-week__head {
  margin-bottom: 20px;
}

.item-week__title {
  margin: 0;
  margin-bottom: 3px;
}

.item-week__name {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;

  text-transform: uppercase;

  color: #63d1bb;
}

.item-week__desc {
  margin: 0;
  margin-bottom: 18px;
}

.item-week__featured {
  display: block;
  width: 100%;
  margin-bottom: 28px;
}

.item-week__image {
  margin-bottom: 18px;
}

.item-week__price {
  display: block;
  margin-bottom: 25px;

  font-size: 17px;
  font-weight: bold;
  line-height: 24px;

  text-align: center;
}

@media (min-width: $tablet) {
  .item-week {
    position: relative;

    display: flex;
    min-height: 510px;

    flex-direction: column;
  }

  .item-week__head {
    display: flex;
    margin-bottom: 48px;

    justify-content: space-between;
    align-items: center;
  }

  .item-week__title {
    width: 450px;
    margin: 0;

    font-size: 43px;
    line-height: 50px;
  }

  .item-week__name {
    width: 124px;
    margin-top: 4px;
    margin-right: 2px;

    line-height: 17px;

    text-align: center;
  }

  .item-week__image {
    position: absolute;
    top: 107px;
    right: 50px;
    z-index: -1;

    width: 333px;
    height: 404px;
    margin: 0;
  }

  .item-week__desc {
    width: 291px;
    margin-bottom: 36px;

    font-size: 17px;
    line-height: 30px;
  }

  .item-week__featured {
    width: 291px;
    margin-bottom: 0;
  }

  .item-week__price {
    width: 291px;
    margin-top: auto;
    margin-bottom: 32px;

    font-size: 20px;
    line-height: 24px;
  }

  .item-week__button {
    width: 291px;
  }
}

@media (min-width: $desktop) {
  .item-week {
    min-height: 636px;
  }

  .item-week__head {
    position: relative;

    display: block;
    margin-top: 53px;
    margin-bottom: 48px;
  }

  .item-week__title {
    position: relative;
    left: 170px;
    width: 884px;

    font-size: 53px;
    line-height: 57px;
  }

  .item-week__name {
    position: absolute;
    top: 10px;
    left: 42px;
    width: 80px;

    align-self: center;
  }

  .item-week__image {
    top: 0;
    right: 0;

    width: 525px;
    height: 636px;
  }

  .item-week__desc,
  .item-week__featured,
  .item-week__price,
  .item-week__button {
    margin-left: 175px;
  }

  .item-week__desc {
    margin-bottom: 48px;
  }
}
