.item-week__head {
  margin-bottom: 30px;
}

.item-week__title {
  margin: 0;
  margin-bottom: 8px;
}

.item-week__name {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;

  text-transform: uppercase;

  color: #63d1bb;
}

.item-week__desc {
  margin: 0;
  margin-bottom: 30px;
}

.item-week__featured {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

.item-week__image {
  margin-bottom: 30px;
}

.item-week__price {
  display: block;
  margin-bottom: 30px;

  font-size: 17px;
  font-weight: bold;
  line-height: 24px;

  text-align: center;
}

@media (min-width: $tablet) {
  .item-week {
    position: relative;

    display: flex;
    min-height: 510px;

    flex-direction: column;
  }

  .item-week__head {
    display: flex;
    margin-bottom: 50px;

    justify-content: space-between;
    align-items: center;
  }

  .item-week__title {
    width: 450px;
    margin: 0;

    font-size: 43px;
    line-height: 50px;
  }

  .item-week__name {
    width: 124px;
    margin-top: 10px;

    text-align: center;
  }

  .item-week__image {
    position: absolute;
    top: 107px;
    right: 50px;
    z-index: -1;

    width: 333px;
    height: 404px;
    margin: 0;
  }

  .item-week__desc {
    width: 291px;
  }

  .item-week__featured {
    width: 291px;
    margin-bottom: 0;
  }

  .item-week__price {
    width: 291px;
    margin-top: auto;
  }

  .item-week__button {
    width: 291px;
  }
}

@media (min-width: $desktop) {
  .item-week {
    min-height: 636px;
  }

  .item-week__head {
    margin-top: 60px;
  }

  .item-week__title {
    position: absolute;
    left: 175px;
    width: 884px;
    padding-right: 47px;

    flex-shrink: 0;
    order: 2;

    font-size: 53px;
    line-height: 57px;
  }

  .item-week__name {
    width: 166px;
    padding: 0 30px;

    flex-shrink: 0;
  }

  .item-week__image {
    top: 0;
    right: 0;

    width: 525px;
    height: 636px;
  }

  .item-week__desc,
  .item-week__featured,
  .item-week__price,
  .item-week__button {
    margin-left: 175px;
  }
}
