.item-card {
  margin-bottom: 30px;

  border: 1px solid $border-color;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba($black, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba($black, 0.1);
  }
}

.item-card__link {
  text-decoration: none;
}

.item-card__photo--tablet,
.item-card__photo--desktop {
  display: none;
}

.item-card__wrapper {
  display: flex;
  width: 100%;
  padding: 30px;

  flex-grow: 2;
  flex-direction: column;
  justify-content: space-between;
}

.item-card__title {
  margin: 0;
  margin-bottom: 10px;

  font-size: 17px;
  font-weight: bold;
  line-height: 24px;

  color: $black;
}

.item-card__desc {
  margin: 0;
  margin-bottom: 20px;

  font-size: 13px;
  line-height: 30px;
}

.item-card__bottom {
  display: flex;
  margin-top: auto;

  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;

  border-top: 1px solid $border-color;
}

.item-card__price {
  padding-top: 20px;

  font-size: 17px;
  font-weight: bold;
  line-height: 24px;

  color: $black;
}

.item-card__button {
  padding: 0;

  font-size: 0;

  text-decoration: none;

  background: none;
  border: none;

  overflow: hidden;
  opacity: 0.2;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 1;

    & path {
      fill: #63d1bb;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .item-card {
    display: flex;
    margin-bottom: 50px;
  }

  .item-card__photo--mobile {
    display: none;
  }

  .item-card__photo--tablet {
    display: block;
  }

  .item-card__title {
    font-size: 20px;
    line-height: 24px;
  }

  .item-card__desc {
    font-size: 15px;
  }
}

@media (min-width: $desktop) {
  .item-card {
    width: 316px;

    flex-direction: column;
  }

  .item-card__photo--tablet {
    display: none;
  }

  .item-card__photo--desktop {
    display: block;
  }
}
