.main-nav__toggle {
  position: absolute;
  top: 32px;
  right: 30px;

  display: block;
  width: 20px;
  height: 14px;

  font-size: 0;
  overflow: hidden;

  background: none;
  background-image: url("../img/icon-menu-open.svg");
  border: none;
}

.main-nav--open .main-nav__toggle {
  top: 29px;

  width: 21px;
  height: 20px;

  background-image: url("../img/icon-menu-close.svg");
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__delivery {
  display: none;
}

@media (max-width: $tablet - 1px) {
  .main-nav__wrapper {
    display: none;
  }

  .main-nav--open .main-nav__wrapper,
  .main-nav--nojs .main-nav__wrapper {
    display: block;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $tablet) {
  .main-nav {
    display: block;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__delivery {
    position: absolute;
    right: 50px;
    bottom: -40px;
    z-index: 1;

    display: block;
  }
}

@media (min-width: $desktop) {
  .main-nav__wrapper {
    display: flex;

    justify-content: space-between;
    align-items: center;
  }

  .main-nav__delivery {
    right: 50px;
  }
}
