.modal {
  position: fixed;
  top: 20%;

  display: none;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;

  background: $white;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
  border: solid 1px #c6c6c6;
}

.modal--open {
  display: block;
}
