.order-form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.order-form__legend {
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;

  text-transform: uppercase;

  color: #63d1bb;
}

.order-form__list {
  margin: 0;
  padding: 0;

  list-style: none;

  &--radio {
    margin-top: 28px;
    margin-bottom: 36px;
  }

  &--checkbox {
    margin-top: 30px;
    margin-bottom: 35px;
  }

  &--name {
    margin-top: 21px;
    margin-bottom: 28px;
  }
}

.order-form__warning {
  margin: 10px 0 31px;
  font-size: 14px;
  line-height: 16px;
}

@media (max-width: $tablet - 1px) {
  .order-form__legend {
    position: relative;

    padding-right: 23px;

    background-color: #ffffff;

    &::after {
      content: "";

      position: absolute;
      top: 12px;
      left: 0;
      z-index: -1;

      display: block;
      height: 1px;
      width: 260px;

      flex-grow: 2;

      background-image: linear-gradient(to right, #ffffff 62px, #63d1bb 62px);
    }
  }
}

@media (min-width: $tablet) {
  .order-form__fieldset--background {
    background-color: #f1f1f1;
  }

  .order-form__wrapper {
    display: flex;
    padding: 0 50px;

    justify-content: flex-start;
    align-items: baseline;

    &--radio {
      margin-top: 51px;
      margin-bottom: 65px;
    }

    &--checkbox {
      margin-top: 63px;
      margin-bottom: 13px;
    }

    &--name {
      margin-top: 47px;
      margin-bottom: 29px;
    }

    &--tel {
      margin-top: 48px;
    }

    &--email {
      margin-bottom: 50px;
    }

    &--textarea {
      margin-top: 50px;
      margin-bottom: 46px;

      align-items: flex-start;
    }

    &--button {
      justify-content: space-between;
    }
  }

  .order-form__legend {
    display: block;
    width: 167px;

    flex-shrink: 0;

    &--textarea {
      margin-top: 18px;
    }
  }

  .order-form__list {
    width: 100%;
    margin: 0;

    &--checkbox {
      display: flex;

      flex-wrap: wrap;
      justify-content: flex-start;
    }

    &--textarea {
      margin: 0;
    }
  }

  .order-form__option {
    width: 100%;
  }

  .order-form__button {
    width: 230px;

    order: -1;
  }

  .order-form__warning {
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop) {
  .order-form__wrapper {
    padding: 0 61px;

    &--checkbox {
      margin-bottom: 11px;
    }

    &--textarea {
      margin-bottom: 42px;
    }

    &--button {
      padding: 0 175px;
    }
  }

  .order-form__legend {
    display: block;
    width: 115px;
  }
}
