.page-main__title {
  margin: 0 0 30px;
  padding: 70px 0;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;

  text-align: center;

  color: $black;
  background: #f1f1f1;
}

.page-main__header {
  background: url("../img/hero-mobile@1x.jpg") center top;
}

.page-main__desc {
  display: block;
  padding: 76px 40px 120px;

  font-size: 27px;
  font-weight: bold;
  line-height: 30px;

  text-align: center;

  color: #010000;
}

.page-main__week {
  margin: 30px;
}

.page-main__about {
  margin-bottom: 30px;
}

.page-main__feedback {
  margin: 30px;
  margin-bottom: 45px;
}

.page-main__contacts {
  margin-bottom: 30px;
}

.page-main__text {
  margin: 30px;

  font-size: 13px;
  line-height: 24px;
}
