.page-main__header {
  margin-bottom: 30px;

  background-color: #f1f1f1;

  &--index {
    background-color: #f9f9f9;
    background-image: url("../img/hero-mobile@1x.jpg");
    background-position-x: center;
    background-position-y: -20px;
    background-repeat: no-repeat;
  }
}

.page-main__title {
  margin: 0;
  padding: 70px 30px 76px;

  font-size: 27px;
  font-weight: bold;
  line-height: 30px;

  text-align: center;

  color: $black;

  &--index {
    display: block;
    padding: 70px 30px 122px;
  }
}

.page-main__week {
  margin-bottom: 35px;
}

.page-main__about {
  margin-bottom: 25px;
}

.page-main__feedback {
  margin-bottom: 44px;
}

.page-main__contacts {
  margin-bottom: 39px;
}

.page-main__video {
  margin-bottom: 58px;
}

.page-main__text {
  margin-bottom: 30px;

  font-size: 13px;
  line-height: 24px;
}

.page-main__form {
  margin-bottom: 55px;
}

@media (min-width: $tablet) {
  .page-main__header {
    position: relative;

    margin-bottom: 40px;

    &--index {
      background-image: url("../img/hero-tablet@1x.jpg");
      background-position-y: top;
    }

    &::after {
      content: "";

      position: absolute;
      left: 0;
      bottom: -6px;

      display: block;
      width: 100%;
      height: 24px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: auto 24px;
    }
  }

  .page-main__title {
    width: $tablet;
    margin: 0 auto;
    padding: 95px 50px 85px;

    font-size: 43px;
    line-height: 50px;

    &--index {
      padding: 152px 130px 373px;
    }
  }

  .page-main__week {
    margin-bottom: 53px;
  }

  .page-main__about {
    margin-bottom: 25px;
  }

  .page-main__feedback {
    margin-bottom: 67px;
  }

  .page-main__contacts {
    margin-bottom: 57px;
  }

  .page-main__catalog {
    margin-top: 70px;
  }

  .page-main__video {
    margin-bottom: 63px;
  }

  .page-main__text {
    font-size: 17px;
    line-height: 30px;
  }

  .page-main__form {
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop) {
  .page-main__header {
    margin-bottom: 74px;

    &--index {
      background-image: url("../img/hero-desktop@1x.jpg");
    }

    &::after {
      bottom: -10px;
      background-size: auto 34px;
    }
  }

  .page-main__title {
    width: $desktop;
    margin: 0 auto;
    padding: 92px 50px 100px;

    font-size: 53px;
    line-height: 57px;

    &--index {
      padding: 150px 250px 360px;
    }
  }

  .page-main__week {
    margin-bottom: 72px;
  }

  .page-main__about {
    margin-bottom: 35px;
  }

  .page-main__feedback {
    margin-bottom: 65px;
  }

  .page-main__contacts {
    margin-top: 0;
    margin-bottom: 105px;
  }

  .page-main__catalog {
    margin-top: 132px;
  }

  .page-main__video {
    margin-bottom: 105px;
  }

  .page-main__text {
    padding: 0 175px;

    font-size: 17px;
    line-height: 30px;
  }
}
