.site-list__item {
  margin: 0 auto;
  border-top: 1px solid $border-color;
}

.site-list__link {
  display: block;
  padding: 30px 76px;

  font-size: 17px;
  font-weight: bold;

  text-decoration: none;

  color: $black;

  &:hover,
  &:focus {
    color: rgba($black, 0.6);
  }

  &:active {
    color: rgba($black, 0.3);
  }
}

@media (min-width: $tablet) {
  .site-list {
    position: absolute;
    top: 105px;
    left: 50px;
    z-index: 1;

    display: flex;
    max-width: 400px;

    flex-wrap: wrap;
  }

  .site-list__item {
    margin: 0;
    flex-shrink: 0;
    border: none;
  }

  .site-list__link {
    padding: 0;
    margin-right: 37px;

    font-size: 15px;
  }
}

@media (min-width: $desktop) {
  .site-list {
    position: relative;
    top: auto;
    left: auto;

    max-width: 437px;
  }

  .site-list__item {
    padding: 30px 35px 35px;

    border-right: 1px solid $border-color;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border: none;
    }
  }

  .site-list__link {
    margin: 0;

    font-size: 17px;
  }
}
