.slider__toggles {
  display: flex;
}

.slider__toggle {
  flex-grow: 2;

  font-size: 0;
  overflow: hidden;

  background: none;
  border: 1px solid $border-color;

  &::before {
    content: "";

    display: block;
    width: 50px;
    height: 26px;
    margin: 13px auto;
  }

  &--left::before {
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--right::before {
    background-image: url("../img/icon-right-arrow.svg");
  }

  &:hover::before,
  &:focus::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .slider__toggles {
    position: absolute;
    right: 50px;
    bottom: 50px;
  }

  .slider__toggle {
    border: none;
  }
}

@media (min-width: $desktop) {
  .slider__toggles {
    right: 0;
    bottom: 60px;

    width: 175px;

    justify-content: space-around;
  }
}
