.social {
  display: flex;
  margin: 0;
  padding: 0;
  padding-bottom: 15px;

  justify-content: center;
  align-items: center;

  list-style: none;

  border-bottom: 1px solid $border-color;
}

.social__item {
  padding: 0;
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  &:hover path,
  &:focus path {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .social {
    position: absolute;
    left: 50%;
    top: 50%;

    margin-left: -70px;
    margin-top: -20px;
    padding: 0;
  }
}
