.special {
  display: none;
}

@media (min-width: $desktop) {
  .special {
    position: absolute;
    top: 105px;
    left: 50px;
    z-index: 1;

    display: flex;
    max-width: 500px;
    margin: 0;
    padding: 0;

    flex-wrap: wrap;

    list-style: none;
  }

  .special__item {
    min-width: 210px;
    padding-right: 60px;
  }

  .special__link {
    font-weight: bold;

    text-decoration: none;

    color: $black;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
