.video {
  margin: 0 30px 30px;
  padding: 20px 34px 30px;

  border: 1px solid $border-color;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px 0 rgba($black, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba($black, 0.1);
  }
}

.video__title {
  display: flex;
  margin: 0;
  margin-bottom: 20px;

  align-items: center;

  font-size: 17px;
  font-weight: bold;
  line-height: 24px;

  color: $black;

  &::before {
    content: "";

    display: block;
    width: 32px;
    height: 32px;
    margin-right: 25px;

    flex-shrink: 0;

    background-image: url("../img/icon-video.svg");
  }
}

.video__wrapper {
  position: relative;

  margin-left: -34px;
  margin-right: -34px;
  margin-bottom: 30px;
}

.video__play {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  height: 100%;

  font-size: 0;

  background: none;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 101px 77px;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-size: 121px 92px;
  }

  &:active {
    background-size: 81px 62px;
    opacity: 0.3;
  }
}

.video__desc {
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 24px;
}
