.main-nav__toggle {
  position: absolute;
  top: 32px;
  right: 30px;

  display: block;
  width: 20px;
  height: 14px;

  font-size: 0;
  overflow: hidden;

  background: none;
  background-image: url('../img/icon-menu-open.svg');
  border: none;

  &--close {
    top: 29px;

    width: 21px;
    height: 20px;

    background-image: url('../img/icon-menu-close.svg');
  }
}
