.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: $mobile;
  margin: 0 auto;
  padding: 0 30px;
}

.title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;

  color: $black;
}

@media (min-width: $tablet) {
  .wrapper {
    width: $tablet;
    margin: 0 auto;
    padding: 0 50px;
  }

  .title {
    font-size: 43px;
    line-height: 50px;
  }
}

@media (min-width: $desktop) {
  .wrapper {
    width: 1050px;
    margin: 0 auto;
    padding: 0;
  }

  .title {
    font-size: 53px;
    line-height: 57px;
  }
}
