@import "fonts";
@import "variables";

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;

  color: $regular-text;
  background-color: $white;
}

@import "helpers";

// BLOCKS

@import "blocks/page-header";
@import "blocks/main-nav";
@import "blocks/site-list";
@import "blocks/user-list";
@import "blocks/special";
@import "blocks/page-main";
@import "blocks/catalog-menu";
@import "blocks/button";
@import "blocks/item-week";
@import "blocks/featured-table";
@import "blocks/modal";
@import "blocks/about";
@import "blocks/feedback";
@import "blocks/slider";
@import "blocks/contacts";
@import "blocks/page-footer";
@import "blocks/social";
@import "blocks/copyright";
@import "blocks/catalog";
@import "blocks/item-card";
@import "blocks/video";
@import "blocks/order-form";
@import "blocks/input-field";
// @import "blocks/to-cart";
