@import "fonts";

/* Variables */
$black: #000000;
$white: #ffffff;
$regular-text: #444444;
$border-color: #ececec;

body {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;

  color: $regular-text;
  background-color: $white;

  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


@import "blocks/page-header";
@import "blocks/main-nav";
@import "blocks/site-list";
@import "blocks/search-form";
@import "blocks/page-main";
@import "blocks/catalog-menu";
@import "blocks/item-week";
@import "blocks/button";
@import "blocks/modal";
@import "blocks/about";
@import "blocks/feedback";
@import "blocks/slider";
@import "blocks/contacts";
@import "blocks/page-footer";
@import "blocks/social";
@import "blocks/copyright";
@import "blocks/catalog";
@import "blocks/item-card";
@import "blocks/video";
@import "blocks/order-form";
@import "blocks/input-field";
@import "blocks/to-cart";
